*.a
*.o
.RData
.Rhistory
.Rproj.user
.auctex-auto
.httr-oauth
R/TAGS
autom4te.cache
config.status
docs
git_version
inst/doc
revdep/checks
revdep/library
src/*.o
src/*.so
src/Makevars
src/eaf/eaf
src/mo-tools/dominatedsets
src/mo-tools/epsilon
src/mo-tools/igd
src/mo-tools/ndsort
src/mo-tools/nondominated
